.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 35px;
  position: sticky;
  top: 0;

  z-index: 2;
}

.navbar {
  width: 100%;
  max-width: 1055px;
  padding: 10px 15px;

  border-radius: 35px;
  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLeft {
  .logo {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbarCenter {
  :not(:last-child) {
    margin-right: 1rem;
  }

  a {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
}

.navbarRight {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 10px;
  }

  .navbarCenter {
    a {
      font-size: 16px;
    }
  }
}
