.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 30px;
  width: 100%;
  max-width: 1024px;
  padding: 35px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLeft {
  .logo {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbarCenter {
  :not(:last-child) {
    margin-right: 1rem;
  }

  a {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
}

.navbarRight {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 15px 7.8px;
  }
  .navbarCenter {
    a {
      font-size: 16px;
    }
  }
}
