.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 30px;
  width: 100%;
  max-width: 1024px;
  padding: 1.5rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLeft {
  .logo {
    display: flex;
    align-items: center;
    color: var(--icon-color);

    &:hover {
      cursor: pointer;
    }
  }
}

.navbarRight {
  display: flex;
  align-items: center;

  :not(:first-child:last-child) {
    margin-left: 1rem;
  }

  a {
    font-size: 17px;
    cursor: pointer;
  }
}
