*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  /* Убрать выделение у всего текста на сайте */
  -youbkit-touch-callout: none; /* Сафари для iOS */
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge и Opera 15+ */
  -moz-user-select: none; /* Fire Fox */
  -ms-user-select: none; /* IE 10+ и Edge */
  user-select: none; /* Версия без префикса, в настоящее время поддерживается Chrome и Opera */

  background-color: var(--background-color);
  color: var(--text-color);
}

:root[data-theme="light"] {
  --background-color: #f9fafb;
  --background-div: #d9d9d9;
  --icon-color: #1c1b1f;
  --text-color: #1c1b1f;
  --border-color: rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
  --background-color: #171717;
  --background-div: #333235;
  --icon-color: #ffffff;
  --text-color: #d9d9d9;
  --border-color: rgba(255, 255, 255, 0.05);
}
