.About {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.Container {
  width: 100%;
  max-width: 1024px;

  margin-top: 75px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }
}
