.Portfolio {
  width: 100%;

  margin-top: 100px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.Container {
  width: 100%;
  max-width: 1024px;

  h2 {
    text-align: center;
  }

  :nth-child(2n) {
    &.Content {
      flex-direction: row-reverse;
    }
  }
}

.Content {
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 20px;

  .PortfolioImage {
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.7);

    overflow: hidden;

    object-position: left top;

    .Image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .Card {
    width: 50%;

    padding: 25px 0;
    border-radius: 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .CardText {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .Name {
        width: 85%;
        font-size: 24px;
        font-weight: 900;

        display: flex;
        justify-content: flex-start;
      }

      .Description {
        margin-top: 10px;

        width: 85%;
        height: 150px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;

        font-size: 18px;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
    }

    .CardButton {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        padding: 10px;
        background: none;

        font-size: 16px;
        border-radius: 7.5px;

        svg {
          font-size: 20px;
          margin-right: 5px;
        }

        &:hover {
          background-color: var(--border-hover-color);
        }
      }

      .Stack {
        margin-top: 15px;
        width: 85%;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        grid-row-gap: 10px;

        :not(:last-child) {
          margin-right: 7px;
        }
      }

      .View {
        margin-top: 10px;
        width: 85%;

        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: #000;
        }

        :not(:last-child) {
          margin-right: 7px;
        }

        svg {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .Container {
    :nth-child(2n) {
      &.Content {
        flex-direction: column;
      }
    }
  }

  .Content {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;

    .Card {
      max-width: 500px;
      width: 100%;
      height: 100%;

      .CardText {
        .Description {
          height: 100%;
          -webkit-line-clamp: 12;
        }
      }
    }

    .PortfolioImage {
      max-width: 500px;
      width: 100%;
      height: 100%;
    }
  }
}
